$baseColor: #00bcd4;
$baseFontColor: #4a4a4a;

$blue: #2196f3;
$blue1: #09c;
$blue2: #39c;
$blue3: #0cf;

$red1: #c30;
$red2: #c36;
$red3: #f66;

$grey1: #686868;
$grey2: #929292;
$grey3: #d2d2d2;
$grey4: #f4f4f4;


// drawer layout
$drawerOpen: 300px;
$drawerFold: 80px;
$drawerOpenLeft: calc(100% - 300px);
$drawerFoldLeft: calc(100% - 80px);